body, input, select, textarea {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 350;
}

.copyright {
    font-weight: 350;
}

#bg:before {
	background-image: linear-gradient(to top, rgba(19, 21, 25, 0.75), rgba(19, 21, 25, 0.85)), url("/images/overlay.png")
}

#bg:after {
	background-image: url("/images/waterville-trail-map-resized.jpg");
}
